body {
  background-color: #17181c;
}

* {
  font-family: Arial;
  margin: 0px;
  padding: 0px;
  color: white;
}

.container {
  display: initial;
  border: 3px solid white;
  max-width: 80%;
  margin: 0 auto;
  align-items: center;
  position: absolute;
  left: 50%;
  top: 50%;
  padding: 35px;
  padding-bottom: 60px;
  transform: translate(-50%, -50%);
  border-radius: 30px;
  min-height: 615px;
}


.input {
  background-color: #2F5AF4;
  border: none;
  font-size: 22px;
  cursor: pointer;
}

.input:focus {
  outline: none;
}

.input::placeholder {
  color: white;
}

.search-btn,
.darkMode-btn,
.refresh-btn {
  border: none;
  cursor: pointer;
}

.darkMode-img {
  font-size: 25px;
}

.search-img {
  font-size: 22px;
}

.refresh-img {
  font-size: 22px;
}

.search-btn {
  margin-right: 10px;
}



.location-wrapper {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.location-wrapper h3 {
  position: absolute;
  right: 35px;
}

.weather-icon-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.weather-icon {
  width: 200px;
  max-width: 200px;
  margin-bottom: 80px;
  margin-top: 30px;
}

.weather-icon-wrapper h2 {
  font-size: 22px;
  font-weight: 400;
  margin-bottom: 20px;
}

.weather-icon-wrapper p {
  font-size: 40px;
  font-weight: 700;
}

.bottom-container {
  display: flex;
  padding-left: 0px;
  justify-content: space-between;
  width: 290px;
  margin-top: 40px;
}

.bottom-container h3 {
  font-size: 22px;
  margin-bottom: 5px;
}

.bottom-container p {
  font-size: 20px;
}

.max-temp,
.min-temp {
  margin-bottom: 30px;
}

.input-button-wrapper {
  display: flex;
}

.maxTemp-feelsLike {
  margin-right: 50px;
}

.buttons-wrapper {
  display: flex;
  position: absolute;
  right: 35px;
}